<html>

<head>
<!-- Importing bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../assets/css/index.css">
  <script src="../assets/assets/index.js"></script>
  <!-- <script src="../assets/bootstrap.min.js"></script> -->
  <!-- <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"> -->
    <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>
</head>
<body>
 <!-- <h1> Google NSBE 45</h1> -->

 <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
 <header class="masthead mb-auto">
   <div class="inner">
     <!-- <h3 class="masthead-brand">Cover</h3> -->
     <!-- <nav class="nav nav-masthead justify-content-center">
       <a class="nav-link active" href="#">Home</a>
       <a class="nav-link" href="#">Features</a>
       <a class="nav-link" href="#">Contact</a>
     </nav>-->
   </div>
</header>

      <main role="main" class="inner cover text-center">

          <h1 class="cover-heading">Welcome to Reach Out Reach</h1>
          <p class="lead"> Get the support you need today !</p>

          <p class="lead">
            <a href="mentee" class="btn btn-lg btn-secondary">Mentee</a>
            <a href="mentor" class="btn btn-lg btn-secondary">Mentor</a>
            <!-- <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
              Continue
            </button> -->
          </p>
      </main>



      <footer class="mastfoot mt-auto">
              <div class="inner">
                <!-- <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p> -->
              </div>
            </footer>
          </div>

    <!-- <div class="row">


    </div> -->

  </div>




<!-- Just some import tags for bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>
