<html>

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../assets/css/index.css">
  <script src="../assets/js/index.js"></script>
  <!-- <script src="../assets/bootstrap.min.js"></script> -->
  <!-- <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"> -->
    <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>
</head>
<body>
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <!-- <h3 class="masthead-brand">Cover</h3> -->
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" id="homeButton" onclick=clickHome() href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
    </div>
 </header>

 <main role="main" class="inner cover text-center">

        <h1 class="cover-heading">Mentor.</h1>
        <p class="lead"> Welcome to Eminem</p>
    </main>



    <body>

      <form action="/action_page.php"
      target="_blank">
      First name: <input type="text" name="FirstName" value="Adeola"><br>
      Last name: <input type="text" name="LastName" value="Awoterinwa"><br>
      Phone Number: <input type="text" name="PhoneNumber" value="647-XXX-XXXX"><br>
      Email Address: <input type="text" name="Email Address" value="XXXXXXX@gmail.com"><br>
      <!-- <input type="submit" value="Submit"> -->

      <p> Please select your preferred Pronoun:</p>
      <div>
        <input type="radio" id="contactChoice1"
         name="contact" value="email">
        <label for="contactChoice1">He/Him</label>

        <input type="radio" id="contactChoice2"
         name="contact" value="phone">
        <label for="contactChoice2">She/Her</label>

        <input type="radio" id="contactChoice3"
         name="contact" value="mail">
        <label for="contactChoice3">Other</label>
      </div>
      If Other please specify: <input type="text" name="Preferred Pronoun" value="They/Them"><br>

      Occupation (s): <input type="text" name="LastName" value="Engineer"><br>
      Educational Background: <input type="text" name="PhoneNumber" value="Computer Engineer"><br>
      <p> Please select your Ethnicity:</p>
      <!-- Ethnicity: <input type="text" name="Email Address" value="XXXXXXX@gmail.com"><br> -->

      <input type="radio" name="gender" value="male" > White<br>
      <input type="radio" name="gender" value="female"> Middle Eastern<br>
      <input type="radio" name="gender" value="male" checked> Black / African <br>
      <input type="radio" name="gender" value="female"> Native <br>
      <input type="radio" name="gender" value="male" > Asian<br>
      <input type="radio" name="gender" value="female"> European<br>
      <input type="radio" name="gender" value="other"> Other  <br>

      <a>If Other please specify: <input type="text" name="Preferred Pronoun" value="Other"><br>


      Provide an extensive description of your experience and how you maneuvered through it <br>
      <textarea name="paragraph_text" cols="50" rows="10"></textarea>

      <p>Click the "Submit" button once all required fields have been completed.</p>
      <div>
        <button type="submit">Submit</button>
      </div>
      </form>


  </body>


<footer class="mastfoot mt-auto">
    <div class="inner">
    </div>
  </footer>
</div>

<!-- Just some import tags for bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>
