#logo {
    width: 240px;
    font-size: 46px;
    margin-bottom: 50px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: green;
}

#messageArea{
  display: none;
}

#welcome-container{
  font-weight: 350 !important;
  font-size: 20px !important;
}
